<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.7.5/foundation.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.5/js/foundation.min.js"></script>
</head>

<body>
    {{!-- <h2>BookWorm</h2> --}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<form id="signup-form" name="signup" method="post" action="/signup">
  <div class="form-icons">
    <h4>Register for an account</h4>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-user"></i>
      </span>
      <input id= "name-signup" class="input-group-field" type="text" placeholder="Username">
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-envelope"></i>
      </span>
      <input id= "email-signup" class="input-group-field" type="text" placeholder="Email">
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <input id= "password-signup" class="input-group-field" type="password" placeholder="Password">
    </div>
  </div>

  <button class="button expanded" type="submit" value="Sign Up">Sign Up</button>
</form>


    
    {{!-- <form id="signup-form" name="signup" method="post" action="/signup">
        <label for="email">Email Address: </label>
        <input id="email-signup" class="text" name="email" type="email" />
        <label for="username">Username: </label>
        <input id="name-signup" name="firstname" type="text" />
        <label for="password">Password: </label>
        <input id="password-signup" name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form> --}}
</body>

<script src="/js/signup.js"></script>