
<body>
    <h2>BookWorm</h2>
    <form id="signup-form" name="signup" method="post" action="/signup">
        <label for="email">Email Address: </label>
        <input id="email-signup" class="text" name="email" type="email" />
        <label for="username">Username: </label>
        <input id="name-signup" name="firstname" type="text" />
        <label for="password">Password: </label>
        <input id="password-signup" name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
</body>

<script src="/js/signup.js"></script>